BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SpaceAfterCStyleCast: true
SpaceBeforeParens: Never
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllArgumentsOnNextLine: true
PenaltyBreakBeforeFirstCallParameter: 50
PenaltyBreakString: 500
PenaltyExcessCharacter: 10